
@{
    ViewData["Title"] = "CancelTicket";
}
@*
<h1>CancelTicket</h1>
<h2>@ViewBag.Message</h2>
@if (Model != null)
{
    <p>Flight Id:@Model.FlightId</p>
    <p>Seat Status:@Model.FlightSeat</p>
}
else
{
    <p>No flight found or already cancelled.</p> 
} *@