@model ProjectLearn.Models.ClientTbl

@{
    ViewData["Title"] = "Login";
   

}


<html>
    <head>
        <style>
          .bg-image {
            background-image: url('../image/flight5.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            height:100vh;
            backdrop-filter:blur(0.98px);
            }
         .custom-font{
            font-family: 'Crimson',serif;
         }
        </style>
    </head>
    <body class="bg-image ">


   
    <div class="mt-5 row ">
        <div class="col-md-4">

            @{
                if (ViewBag.Message != null)
                {
                    <h2 style="color:red;">@ViewBag.Message</h2>
                }

                if (TempData["Success"] != null)
                {
                    <h3 style="color:green;">@TempData["Success"]</h3>
                }
            }
            <form class="custom-font p-4  rounded shadow "  asp-action="Login">

                <h1 class="custom-font mb-3 text-center">Customer Form</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class=" mb-3 ">
                    <label asp-for="Email" class=" form-label fs-4"></label>
                    <input asp-for="Email" class="form-control fs-5" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class=" mb-3">
                    <label asp-for="Password" class=" form-label fs-4"></label>
                    <input asp-for="Password" class="form-control fs-5" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Login" class="btn fs-4 btn-primary w-100" />
                </div>
            </form>
            <br />
            <p>
                <a class="align-items-center fs-5" asp-controller="Home" asp-action="Register">Not Register Yet ? Click Here To SignUp </a>
            </p>
        </div>
    </div>




    </body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
