@model ProjectLearn.Models.ClientTbl

@{
    ViewData["Title"] = "Register";
     // Layout = "~/Views/Shared/_Layout2.cshtml";
}

<html>
    <head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <style>
        .bg-image {
            background-image: url('../image/flight5.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            backdrop-filter: blur(0.98px);
        }
        .custom-font{           
            font-family:'Crimson',serif;
       
        }
    </style>
    </head>
    <body class="bg-image">


   
    
      <div class=" justify-content-center align-items-lg-center row ">
       
        <div class="  col-md-4">
         

            <form class="custom-font p-4 rounded shadow " style="width:600px;" asp-action="Register">
                <h1 class=" mb-3 text-center">Register</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class=" mb-3 form-group">
                    <label asp-for="FirstName" class=" fs-4 from-label"></label>
                    <input asp-for="FirstName" class=" fs-5 form-control" />
                    <span asp-validation-for="FirstName" class=" text-danger"></span>
                </div>
                <div class=" mb-3 form-group">
                    <label asp-for="LastName" class="fs-4 form-label"></label>
                    <input asp-for="LastName" class="fs-5 form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class=" mb-3 form-group">
                    <label asp-for="Gender" class="fs-4 form-label"></label>
                    <input asp-for="Gender" class="fs-5 form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class=" mb-3 form-group">
                    <label asp-for="Email" class="fs-4 form-label"></label>
                    <input asp-for="Email" class="fs-5 form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class=" mb-3 form-group">
                    <label asp-for="Password" class=" fs-4 form-label"></label>
                    <input asp-for="Password" class="fs-5 form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
               @*  <div class=" mb-3 form-group">
                    <label asp-for="ConfirmPassword"fs-4 class=" form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div> *@
                <br />
                <div class=" custom-font d-flex  form-group">
                    <input type="submit" value="Register" class=" mb-3 fs-4 me-5 w-25 rounded btn btn-primary" />
              
                       <br />
              
                    <input type="submit" asp-action="Login" value="Login" class=" mb-3 fs-4 w-25 rounded btn-primary " />
                 
                </div>
                <br />
            </form>
        </div>
    </div>

    </body>
</html>


@* <div>
    <a asp-action="Login"> Login </a>
</div>
 *@